.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: all ease-in 0.5s;
}
.my-node-exit {
    opacity: 0;
    transition: ease-out 0.2s;
}
.my-node-exit-active {
    opacity: 0;
    /*transition: opacity 200ms;*/
}
